
.container {
    width: 60%;
    margin: auto;
}

html {
    font-family: Verdana, Arial, sans-serif;
}

header {
    background-color: chartreuse;
}

li a {
    text-decoration: none;
}

li a:hover {
    background-color: chocolate;
}

li a:hover::after {
    content: ' @';
}

main {
    background-color: darkgreen;
}

footer {
    background-color: gray;
}